.our-projects {
  margin-top: 120px;

  h2 {
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.03em;
    color: $blue;
  }
  .our-projects_main {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .our-projects-item {
      display: flex;

      .our-project-swiper {
        flex: 50%;
        border-radius: 8px 0px 0px 8px;

          .our-projects-buttons {
            position: absolute;
            top: 50%;
            z-index: 10;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
            padding: 0 16px;
          }
        .our-projects-buttons div {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 15px 18px;
          background: rgba(255, 255, 255, 0.5);
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          transition: 0.3s;

            &:hover {
              background: rgba(255, 255, 255, 0.8);
            }
        }
      }
      .our-projects_left {
        flex: 50%;
        padding: 41px 89px 41px 40px;
        background: $blue;
        border-radius: 0px 8px 8px 0px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: space-between;

        h3 {
          font-weight: 500;
          font-size: 24px;
          line-height: 31px;
          color: #FAFAFA;
          font-weight: 500;
        }
        p {
          font-weight: 500;
          font-size: 24px;
          line-height: 31px;
          color: #FAFAFA;
          font-weight: 500;
        }
        .projects-left_descr {
          font-family: 'Inter', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          color: #FAFAFA;
          max-width: 530px;
        }

        .projects-left_flex {
          display: flex;
          .projects-left_grid {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-template-rows: repeat(2, minmax(0, 1fr));
            margin-top: 20px;
            row-gap: 15px;
            column-gap: 30px;

            .projects-gird_item {
              display: flex;
              gap: 4px;
              align-items: center;

              p {
                font-size: 16px;
                line-height: 22px;
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                color: #FAFAFA;
              }
            }
          }
        }

        .projects-btns {
          display: flex;
          gap: 12px;

          .projects-btn_pdf {
            padding: 15px 28px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: $blue;
            background: $white;
            transition: all;
            transition-duration: 300ms;
            border-radius: 10px;

            &:hover {
              color: $white;
              background: $acent_color;
              transition: all;
              transition-duration: 300ms;
            }
          }
          .projects-btn_consult {
            padding: 15px 60px;
            letter-spacing: 0.02em;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $white;
            background: $acent_color;
            transition: all;
            transition-duration: 300ms;
            border-radius: 10px;

            &:hover {
              color: $acent_color;
              background: $white;
              transition: all;
              transition-duration: 300ms;
            }
          }
        }
      }
    }
  }
}