

/* Start:/local/templates/doma/assets/_dist/css/app.css?168571458813203*/
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);
.container {
  padding: 0 60px;
  max-width: 100%;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border-radius: 0 0 16px 16px;
}
.header .header-left {
  display: flex;
  align-items: center;
  gap: 150px;
}
.header .header-left .header-location {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 19px;
  color: #2E3F65;
  font-weight: 400;
}
@media (max-width: 1240px) {
  .header .header-left .header-location {
    display: none;
  }
}
.header .header-left .header-location a {
  font-family: "Inter", sans-serif;
  transition: all;
  transition-duration: 300ms;
  color: #2E3F65;
}
.header .header-left .header-location a:hover {
  transition: all;
  transition-duration: 300ms;
  color: #D85140;
}
.header .header-right {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header .header-right .header-mobile {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 24px;
  line-height: 36px;
  color: #2E3F65;
}
.header .header-right .header-mobile a {
  transition: all;
  transition-duration: 300ms;
  color: #2E3F65;
}
.header .header-right .header-mobile a:hover {
  transition: all;
  transition-duration: 300ms;
  color: #D85140;
}
.header .header-right .header-mobile p {
  font-weight: 500;
  line-height: 15px;
  font-size: 12px;
}
.header .header-right .header-button {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2E3F65;
  padding: 15px 30px;
  border: 1px solid #333E57;
  border-radius: 10px;
  transition: all;
  transition-duration: 300ms;
}
.header .header-right .header-button:hover {
  transition: all;
  transition-duration: 300ms;
  border: 1px solid #D85140;
  color: #D85140;
}
@media (max-width: 430px) {
  .header .header-right .header-button {
    display: none;
  }
}
.header .header-burger {
  display: none;
}
@media (max-width: 1240px) {
  .header .header-burger {
    display: block;
  }
}
.header .header-burger .menu-items {
  padding: 50px;
  z-index: 999999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #FFFFFF;
}
.header .header-burger .menu-items .burger-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #FFFFFF;
}
.header .header-burger .menu-items .burger-items_bottom {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
  gap: 16px;
}
.header .header-burger .menu-items .items-bottom_phone {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.header .header-burger .menu-items .items-bottom_phone a {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #2E3F65;
  letter-spacing: -0.03em;
}
.header .header-burger .menu-items .items-bottom_phone span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #838A9C;
  font-family: "Inter", sans-serif;
}
.header .header-burger .menu-items .burger-bottom_btn {
  padding: 18px 85px;
  background: #2E3F65;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  display: none;
}
.header .header-burger .menu-items .burger-items p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #838A9C;
}
.header .header-burger .menu-items .open-menu-close_btn {
  position: absolute;
  right: 50px;
  top: 50px;
}
.header .header-burger .menu-items .menu-item .menu-item_link {
  display: block !important;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #2E3F65;
}
.header .header-burger .burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1000;
}
.header .header-burger .burger-menu:hover {
  background-color: transparent;
}
.header .header-burger .burger-menu span {
  width: 100%;
  height: 2px;
  background-color: #2E3F65;
  border-radius: 5px;
  transition: transform 0.3s, opacity 0.3s;
}

.main-page {
  display: flex;
  justify-content: space-between;
}
.main-page .main-page-left {
  flex: 50%;
  background: #2E3F65;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 80px;
}
.main-page .main-page-left .main-page-list {
  display: flex;
  gap: 24px;
}
.main-page .main-page-left .main-page-list .page-list_item {
  display: flex;
  align-items: center;
}
.main-page .main-page-left .main-page-list .page-list_item a {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #FAFAFA;
  font-family: "Inter", sans-serif;
  position: relative;
  text-decoration: none;
}
.main-page .main-page-left .main-page-list .page-list_item a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1.5px;
  background-color: #D85140;
  transition: width 0.35s;
}
.main-page .main-page-left .main-page-list .page-list_item a:hover::before {
  width: 100%;
}
.main-page .main-page-left .page-left-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-page .main-page-left .page-left-title h1 {
  font-size: 56px;
  line-height: 62px;
  color: #FAFAFA;
  font-weight: 400;
  letter-spacing: -0.03em;
  max-width: 660px;
}
.main-page .main-page-left .page-left-title p {
  font-size: 16px;
  line-height: 22px;
  font-family: "Inter", sans-serif;
  color: #FAFAFA;
  max-width: 560px;
}
.main-page .main-page-left .page-left-title .left-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: #D85140;
  padding: 15px 30px;
  border-radius: 10px;
  transition: all;
  transition-duration: 300ms;
  max-width: 550px;
  margin-top: 20px;
}
.main-page .main-page-left .left-bottom {
  display: flex;
  gap: 60px;
}
.main-page .main-page-left .left-bottom .left-bottom_item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 168px;
}
.main-page .main-page-left .left-bottom .left-bottom_item span {
  font-weight: 400;
  font-size: 32px;
  line-height: 45px;
  color: #FFFFFF;
}
.main-page .main-page-left .left-bottom .left-bottom_item p {
  color: rgba(250, 250, 250, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: "Inter", sans-serif;
}
.main-page .main-page-right {
  flex: 50%;
}

.about {
  margin-top: 120px;
}
.about .about-main {
  display: flex;
}
.about .about-main .about-left {
  flex: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.about .about-main .about-left .about-left_title {
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
  color: #2E3F65;
}
.about .about-main .about-left .about-left_text {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 410px;
}
.about .about-main .about-left .about-left_text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Inter", sans-serif;
  color: #2E3F65;
}
.about .about-main .about-left .about-left_grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  row-gap: 28px;
}
.about .about-main .about-left .about-left_grid .left-grid_item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.about .about-main .about-left .about-left_grid .left-grid_item span {
  color: #D85140;
  font-size: 48px;
  line-height: 53px;
  letter-spacing: -0.03em;
  font-weight: 400;
}
.about .about-main .about-left .about-left_grid .left-grid_item p {
  font-size: 16px;
  color: #2E3F65;
  line-height: 22px;
  font-family: "Inter", sans-serif;
  max-width: 230px;
}
.about .about-main .about-right {
  flex: 50%;
}

.our-projects {
  margin-top: 120px;
}
.our-projects h2 {
  font-size: 48px;
  line-height: 53px;
  letter-spacing: -0.03em;
  color: #2E3F65;
}
.our-projects .our-projects_main {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.our-projects .our-projects_main .our-projects-item {
  display: flex;
}
.our-projects .our-projects_main .our-projects-item .our-project-swiper {
  flex: 50%;
  border-radius: 8px 0px 0px 8px;
}
.our-projects .our-projects_main .our-projects-item .our-project-swiper .our-projects-buttons {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}
.our-projects .our-projects_main .our-projects-item .our-project-swiper .our-projects-buttons div {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px 18px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.our-projects .our-projects_main .our-projects-item .our-projects_left {
  flex: 50%;
  padding: 41px 89px 41px 40px;
  background: #2E3F65;
  border-radius: 0px 8px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
}
.our-projects .our-projects_main .our-projects-item .our-projects_left h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #FAFAFA;
  font-weight: 500;
}
.our-projects .our-projects_main .our-projects-item .our-projects_left p {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #FAFAFA;
  font-weight: 500;
}
.our-projects .our-projects_main .our-projects-item .our-projects_left .projects-left_descr {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FAFAFA;
  max-width: 530px;
}
.our-projects .our-projects_main .our-projects-item .our-projects_left .projects-left_flex {
  display: flex;
}
.our-projects .our-projects_main .our-projects-item .our-projects_left .projects-left_flex .projects-left_grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  margin-top: 20px;
  row-gap: 15px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.our-projects .our-projects_main .our-projects-item .our-projects_left .projects-left_flex .projects-left_grid .projects-gird_item {
  display: flex;
  gap: 4px;
  align-items: center;
}
.our-projects .our-projects_main .our-projects-item .our-projects_left .projects-left_flex .projects-left_grid .projects-gird_item p {
  font-size: 16px;
  line-height: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #FAFAFA;
}
.our-projects .our-projects_main .our-projects-item .our-projects_left .projects-btns {
  display: flex;
  gap: 12px;
}
.our-projects .our-projects_main .our-projects-item .our-projects_left .projects-btns .projects-btn_pdf {
  padding: 15px 28px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2E3F65;
  background: #FFFFFF;
  transition: all;
  transition-duration: 300ms;
  border-radius: 10px;
}
.our-projects .our-projects_main .our-projects-item .our-projects_left .projects-btns .projects-btn_pdf:hover {
  color: #FFFFFF;
  background: #D85140;
  transition: all;
  transition-duration: 300ms;
}
.our-projects .our-projects_main .our-projects-item .our-projects_left .projects-btns .projects-btn_consult {
  padding: 15px 60px;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #D85140;
  transition: all;
  transition-duration: 300ms;
  border-radius: 10px;
}
.our-projects .our-projects_main .our-projects-item .our-projects_left .projects-btns .projects-btn_consult:hover {
  color: #D85140;
  background: #FFFFFF;
  transition: all;
  transition-duration: 300ms;
}

/* End */
/* /local/templates/doma/assets/_dist/css/app.css?168571458813203 */
