

/* Start:/local/templates/doma/assets/_dist/css/app.css?16857111225614*/
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);
.container {
  padding: 0 60px;
  max-width: 100%;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border-radius: 0 0 16px 16px;
}
.header .header-left {
  display: flex;
  align-items: center;
  gap: 150px;
}
.header .header-left .header-location {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 19px;
  color: #2E3F65;
  font-weight: 400;
}
@media (max-width: 1240px) {
  .header .header-left .header-location {
    display: none;
  }
}
.header .header-left .header-location a {
  font-family: "Inter", sans-serif;
  transition: all;
  transition-duration: 300ms;
  color: #2E3F65;
}
.header .header-left .header-location a:hover {
  transition: all;
  transition-duration: 300ms;
  color: #D85140;
}
.header .header-right {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header .header-right .header-mobile {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 24px;
  line-height: 36px;
  color: #2E3F65;
}
.header .header-right .header-mobile a {
  transition: all;
  transition-duration: 300ms;
  color: #2E3F65;
}
.header .header-right .header-mobile a:hover {
  transition: all;
  transition-duration: 300ms;
  color: #D85140;
}
.header .header-right .header-mobile p {
  font-weight: 500;
  line-height: 15px;
  font-size: 12px;
}
.header .header-right .header-button {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2E3F65;
  padding: 15px 30px;
  border: 1px solid #333E57;
  border-radius: 10px;
  transition: all;
  transition-duration: 300ms;
}
.header .header-right .header-button:hover {
  transition: all;
  transition-duration: 300ms;
  border: 1px solid #D85140;
  color: #D85140;
}
@media (max-width: 430px) {
  .header .header-right .header-button {
    display: none;
  }
}
.header .header-burger {
  display: none;
}
@media (max-width: 1240px) {
  .header .header-burger {
    display: block;
  }
}
.header .header-burger .menu-items {
  padding: 50px;
  z-index: 999999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #FFFFFF;
}
.header .header-burger .menu-items .burger-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #FFFFFF;
}
.header .header-burger .menu-items .burger-items_bottom {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
  gap: 16px;
}
.header .header-burger .menu-items .items-bottom_phone {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.header .header-burger .menu-items .items-bottom_phone a {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #2E3F65;
  letter-spacing: -0.03em;
}
.header .header-burger .menu-items .items-bottom_phone span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #838A9C;
  font-family: "Inter", sans-serif;
}
.header .header-burger .menu-items .burger-bottom_btn {
  padding: 18px 85px;
  background: #2E3F65;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  display: none;
}
.header .header-burger .menu-items .burger-items p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #838A9C;
}
.header .header-burger .menu-items .open-menu-close_btn {
  position: absolute;
  right: 50px;
  top: 50px;
}
.header .header-burger .menu-items .menu-item .menu-item_link {
  display: block !important;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #2E3F65;
}
.header .header-burger .burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1000;
}
.header .header-burger .burger-menu:hover {
  background-color: transparent;
}
.header .header-burger .burger-menu span {
  width: 100%;
  height: 2px;
  background-color: #2E3F65;
  border-radius: 5px;
  transition: transform 0.3s, opacity 0.3s;
}

/* End */
/* /local/templates/doma/assets/_dist/css/app.css?16857111225614 */
